h1 {
    background-color: rgb(4, 156, 156);
    
}
#headingtwo {
    background-color: rgb(95, 95, 247);
}
h2{
    color:rgb(185, 5, 5)
}
body {
    background-color:rgb(190, 235, 229);
}

button{
    color:red;
    background-color:blue
}